<%= semantic_form_for question, namespace: "drag_drop", html: { class: "form-inline ", id: "new_drag_drop_question" }  do |form| %>
<%= error_msg_for question %>
<div class="well">
  <div>
    <%= form.input :name, input_html: {class: "input-xxlarge"} %>
  </div>
    <%= form.hidden_field :type, value: "drag_drop" %>
    <%= hidden_field_tag :redirect_to_session, params[:redirect_to_session] %>
  <div>
    <%= form.input :tags, input_html: { class:  "input-xxlarge" , placeholder: "Tags" }, required: false %>
    <% if current_user.question_tags && !current_user.question_tags.blank? %>
    <%= select_tag "tags", options_for_select([[t("questions.add_from_your_tags"), '']] + current_user.question_tags.sort.map{ |t| [t, t]}), id: "drag_drop_select_tag" %>
    <br>&nbsp;
    <% end %>
  </div>
  <div>
    <label for="public" class="checkbox inline"><%= form.check_box :public, :class => "checkbox inline" %><%= t("public") %></label>
  </div>
</div>

<h3><%= t("surveys.edit.answer_pairs_for_drag_drop_survey") %></h3>
<div id="options" class="row-fluid">
  <div class="span8">
    <%= form.semantic_fields_for :answer_pairs, class: "form-inline" do |pair| %>
    <%= render "drag_drop_question_answer_pair_fields", f: pair %>
    <% end %>
    <div class="links">
      <%= link_to_add_association icon_tag("plus")+t("surveys.edit.add_answer_pair"), form, :answer_pairs, partial:"drag_drop_question_answer_pair_fields" %>
    </div>
    <br>
  </div>
  <div class="offset4"></div>
</div>
<%= form.hidden_field :collaborators_form, class:"collaborators-form" %>
<%= form.submit class: "btn btn-primary", id: "single_question_submit" %><span style="margin-left:20px;">
<% if params[:redirect_to_session] %>  
  <label for="also_start_question" class="checkbox"><%= check_box_tag "also_start_question", "true", true %> <%= t "questions.start_in_session" %>
</label><br>
</span> 
<% end %><small>(<%= link_to t("questions.chart_notice"), "#chartNoticeModal", data: {toggle: "modal"} %>)</small></span>
<% end %>
<% content_for :javascript do %>
  <script>
    $(document).ready(function() {
      $("#drag_drop_question_tags").tagsManager({ // http://welldonethings.com/tags/manager
        prefilled: "<%= question.tags %>",
        hiddenTagListName: "drag_drop_question[tags]",
		    preventSubmitOnEnter: true
      });
	  $("#drag_drop_select_tag").change(function(){
		$("#drag_drop_question_tags").tagsManager("pushTag", $("#drag_drop_select_tag").val());
		$("#drag_drop_select_tag option:first").attr('selected',true);
	  });
    });
  </script>
<% end %>
