<div class="btn-group">
  <a class="btn dropdown-toggle disabled questions-table__action-button" data-toggle="dropdown" href="#">
    <%=	 t ".export_as" %>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li>
      <%=	 link_to_export "CSV", "csv"  %>
    </li>
    <li>
      <%=	 link_to_export "Moodle XML", "moodle_xml"  %>
    </li>
    <li>
      <%=  link_to_export "Gift", "gift"  %>
    </li>
    <li>
      <%=	 link_to_export "Aiken", "aiken"  %>
    </li>
    <li>
      <%=	 link_to_export "Ilias QTI", "ilias"  %>
    </li>
  </ul>
</div>
