<%= semantic_form_for question, namespace: "multi", html: { id: "new_multiple_choice_question" }  do |form| %>
<%= error_msg_for question %>
<div class="well">
	<div class="form-group">
		<%= form.input :name, input_html: {class: "form-control"} %>
	</div>

	<%= form.hidden_field :type, value: "multi" %>
	<%= hidden_field_tag :redirect_to_session, params[:redirect_to_session] %>

	<div class="row">
		<div class="form-group col-md-8 tag-input">
			<%= form.input :tags, input_html: { placeholder: "Tags" }, required: false %>
		</div>

		<div class="form-group col-md-4">

			<% if current_user.question_tags && !current_user.question_tags.blank? %>
				<label><%= t("questions.add_from_your_tags") %></label>
				<%= select_tag "tags", options_for_select([[t("questions.add_from_your_tags"), '']] + current_user.question_tags.sort.map{ |t| [t, t]}), id: "multi_select_tag", class:"form-control" %>
			<% end %>
		</div>
	</div>
	<div class="form-group">
		<div class="checkbox">
			<label><%= form.check_box :public, :class => "checkbox inline" %><%= t("public") %></label>
		</div>
	</div>
</div>
<h3><%= t("surveys.edit.options_for_survey") %></h3>
<div id="options" class="row">
	<div class="col-md-12">
		<div id="option_controls">
		<%= form.semantic_fields_for :question_options, class: "form-inline" do |option| %>
			<%= render "multi_question_option_fields", f: option %>
		<% end %>
		<div class="links form-group">
				<%= link_to_add_association icon_tag("plus")+t("surveys.edit.add_option"), form, :question_options, partial:"multi_question_option_fields", id: "add_multi_option" %>
			</div>
		</div>
	</div>
</div>

<%= form.hidden_field :collaborators_form, class:"collaborators-form" %>
<div class="row row-margin">
	<div class="col-md-6">
		<%= form.submit class: "btn btn-primary btn-block", id: "single_question_submit" %>
	</div>
	<div class="col-md-6">
		<% unless params[:redirect_to_session].blank? %>
			<div class="checkbox">
				<label class="checkbox"><%= check_box_tag "also_start_question", "true", true %> <%= t "questions.start_in_session" %>
				</label>
			</div>
		<% end %>
	</div>
</div>
<% end %>
<% content_for :javascript do %>
<script>
$(document).ready(function() {
	$("#multi_question_tags").tagsManager({ // http://welldonethings.com/tags/manager
		prefilled: "<%= question.tags %>",
		hiddenTagListName: "multi_question[tags]",
		preventSubmitOnEnter: true
	});
	$("#multi_select_tag").change(function(){
		$("#multi_question_tags").tagsManager("pushTag", $("#multi_select_tag").val());
		$("#multi_select_tag option:first").attr('selected',true);
	});
	$("#multi_question_tags").blur(function(){
		if($(this).val() !== ""){
			$("#multi_question_tags").tagsManager("pushTag", $(this).val());
		}
	});
});
</script>
<% end %>
