<!--<h2>Edit <%= resource_name.to_s.humanize %></h2>-->
<div class="row">
  <div class="col-md-12">
    <h2><%= t("registration.edit_user")%>: <%= @user.name %></h2>
    <%= form_for(resource, :as => resource_name, :url => registration_url(resource_name, protocol: ((Rails.env.production?||Rails.env.staging?) ? "https" : "http")), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>
    <div class="tabbable">
      <ul class="nav nav-tabs row-margin" id="Tabs">
        <li class="active"><a href="#general" data-toggle="tab"><%= t("registration.general_settings") %></a></li>
        <li><a href="#personal" data-toggle="tab"><%= t("registration.personal_data") %></a></li>
        <% if resource.authentication_token.present? %>
        <li><a href="#apps" data-toggle="tab"><%= t("registration.apps") %></a></li>
        <% end %>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="general">
          <div class="form-group">
            <div class="checkbox">
              <%= f.label :wants_sound do %>
              <%= f.check_box :wants_sound %>
              <%= t('registration.wants_sound') %>
              <p class="help-block"><%= t("registration.wants_sound_info")%></p>
              <% end %>
            </div>

          </div>
          <div class="form-group">
            <div class="checkbox">
              <%= f.label :newsletter do %>
              <%= f.check_box :newsletter %>
              <%= t('registration.newsletter') %>
              <p class="help-block"><%= t("registration.newsletter_info")%></p>
              <% end %>
            </div>

          </div>

          <!-- ><div class="form-group">
            <div class="checkbox">
              <%= f.label :allow_external_analytics do %>
              <%= f.check_box :allow_external_analytics, disabled: true, checked: false %>
              <%= t('registration.allow_external_analytics') %>
              <p class="help-block"><%= t("registration.allow_external_analytics_info")%></p>
              <% end %>
            </div>
          </div> -->
          <div class="form-group">
            <%= f.submit t("update"), :class => "btn btn-primary" %>
          </div>
          </div><!-- TAB END -->


          <div class="tab-pane" id="personal">
            <div class="row w66">
              <div class="form-group col-md-6">
                <%= f.label :first_name, t("registration.first_name") %>
                <%= f.text_field :first_name, class: "form-control" %>
              </div>
              <div class="form-group col-md-6">
                <%= f.label :last_name, t("registration.last_name") %>
                <%= f.text_field :last_name, class: "form-control"  %>
              </div>
              <div class="form-group col-md-6">
                <%= f.label :organization, t("registration.organization") %>
                <%= f.text_field :organization, class: "form-control"  %>
              </div>
              <div class="form-group col-md-6">
                <%= f.label :faculty, t("registration.faculty") %>
                <%= f.text_field :faculty, class: "form-control"  %>
              </div>
              <div class="form-group col-md-12">
                <%= f.label :email, "E-Mail" %>
                <%= f.email_field :email, class: "form-control"  %>
              </div>
              <div class="form-group col-md-6">
                <%= f.label :password, t('password') %>
                <%= f.password_field :password, autocomplete:"off", class: "form-control"  %>
                <p class="help-block"><%= t('registration.password_change_info')%>)</p>
              </div>
              <div class="form-group col-md-6">
                <%= f.label :password_confirmation, t('password_confirmation') %>
                <%= f.password_field :password_confirmation, autocomplete:"off", class: "form-control"  %>
                <p class="help-block"><%= t('registration.password_change_confirm_info')%></p>
              </div>
              <div class="form-group col-md-12">
                <%= f.label :current_password, t('registration.current_password') %>
                <%= f.password_field :current_password, class: "form-control"  %>
                <p class="help-block"><%= t("registration.current_password_info")%></p>
              </div>
              <div class="form-group col-md-12">
                <%= f.submit t("update"), :class => "btn btn-primary" %>
              </div>

              <div class="col-md-12">
                <p class="help-block"><%= link_to_function t("registration.unhappy"), "jQuery('#cancel-p').slideDown();" %></small></p>
                <p id="cancel-p" style="font-size:70%;display:none;background-color: #eee; padding: 5px"><%= t("registration.sorry")%><br/><%= link_to t("registration.cancel_account"), registration_path(resource_name), "data-confirm" => t("registration.sure"), method: :delete %> <%= t("registration.deletion_consequences")%><br/><br/><%= t("registration.feedback")%>
                </p>
              </div>
            </div>
          </div>
          <% if resource.authentication_token.present? %>
          <div class="tab-pane" id="apps">
            <div>
              <p><%= t("registration.apps_text") %></p>
              <p><%= link_to t("registration.apps_button"), reset_auth_token_path, class: "btn btn-warning", method: :post %></p>

            </div>
          </div>
          <% end %>
        </div>
      </div>
      <% end %>
      <%= link_to t("back"), :back %>
    </div>
  </div>
  <% unless resource.errors.empty? %>
  <% content_for :javascript do %>
  <script>
  // change active Tab to 'Personal settings' when an error occured -->
  $('#Tabs a[href="#personal"]').tab('show'); // Select tab by name
  </script>
  <% end %>
  <% end %>
