<h2><%= t "navigation.sign_up" %></h2> </br>

<%= form_for(resource, :as => resource_name, :url => registration_url(resource_name, protocol: ((Rails.env.production?||Rails.env.staging?) ? "https" : "http"))) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :first_name, t("registration.first_name") %>
  <%= f.text_field :first_name %></div>

  <div><%= f.label :last_name, t("registration.last_name") %>
  <%= f.text_field :last_name %></div>

  <div><%= f.label :organization, t("registration.organization") %>
  <% if upb_network? %>
    <!-- prefill UPB if users sign up from an UPB ip -->
    <%= f.text_field :organization, value: t("upb") %>
  <% else %>
    <%= f.text_field :organization %>
  <% end %>
  </div>

  <div><%= f.label :faculty, t("registration.faculty") %>
  <%= f.text_field :faculty %></div>

  <div><%= f.label :chair, t("registration.chair") %>
  <%= f.text_field :chair %></div>

  <div><%= f.label :email, "E-Mail" %>
  <%= f.email_field :email %></div>

  <div><%= f.label :password, t("password") %>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, t("password_confirmation") %>
  <%= f.password_field :password_confirmation %></div>

   <div><%= f.label :user_comment, "#{t("registration.user_comment")} (#{t("optional")})" %>
  <%= f.text_area :user_comment, class: "input-xlarge autogrow", :rows => 3 %></div>

  <div><label for="user_newsletter" class="checkbox">
  	<%= f.check_box :newsletter, class: "checkbox form-inline" %> <%= t("registration.newsletter") %>
    </label>
  </div>
	<br>
  <div><%= f.submit t("navigation.sign_up"), :class => "btn" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
