<% if user_signed_in? %>
<li class="dropdown">
  <%= link_to icon_tag("plus") + t("navigation.quick_start"), new_event_path, id: "menuQuickstartLink", class: "dropdown-toggle", data: {icon: "icon-plus", toggle: "dropdown", target: "#"} %>
  <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
   <%= form_tag("/quick_start")%>
      <%= render partial: "shared/quick_start_form" %>
   </form>
  </div>
</li>

  <%= content_tag :li, class: (current_page?(new_event_path) ? "active" : "")  do -%>
	 <%= link_to t("navigation.new_survey"), new_event_path, id: "menuNewEventLink" %>
  <% end -%>
  
  <%= content_tag :li, class: (current_page?(events_path) ? "active" : "")  do -%>
  	<%= link_to(icon_tag("tasks") +  t("navigation.your_events"), events_path, id: "menuEventsLink") %>
  <% end -%>

  <%= content_tag :li, class: (current_page?(questions_path) ? "active" : "")  do -%>
  	<%= link_to(icon_tag("question-sign") +  t("navigation.your_questions"), questions_path, id: "menuQuestionsLink") %>
  <% end -%>

  
  <%= content_tag :li, class: (current_page?(edit_user_registration_path) ? "active" : "")  do -%>
  	<%= link_to(icon_tag("wrench") + t("navigation.edit_account"), edit_user_registration_url(protocol: ((Rails.env.production?||Rails.env.staging?) ? "https" : "http")), id: "menuSettingsLink") %>
  <% end -%>

  <li>
  <%= link_to(icon_tag("off") + t("navigation.logout"), destroy_user_session_url(protocol: ((Rails.env.production?||Rails.env.staging?) ? "https" : "http")), method: :delete) %>        
  </li>
  <% if current_user.admin %>
    <li class="divider-vertical"></li>
  	<li>
  	<%= link_to('Admin', admin_users_path(protocol: ((Rails.env.production?||Rails.env.staging?) ? "https" : "http")), style: 'color:grey') %>        	
  	</li>
  <% end %>


<% else %>

  <li>
  <%= link_to(icon_tag("user") + t("navigation.login"), "#loginModal", id: "login", data: {toggle: "modal"})  %> 
  </li>
  <!-- 
  <li>
  <%= link_to(t("navigation.sign_up"), new_user_registration_path)  %>
  </li>
  //-->


<% end %>

<li class="divider-vertical"></li>
<li class="dropdown">
	<a id="help" href="#" class="dropdown-toggle" data-toggle="dropdown">
		<%= icon_tag("info-sign") %>
		<%= t "navigation.about" %> &nbsp;
		<b class="caret"></b>
	</a>
	<ul class="dropdown-menu" role="menu" aria-labelledby="help">
    <%= content_tag :li  do -%>
      <%= link_to icon_tag("pingo") + t("navigation.project_website"), "http://www.uni-paderborn.de/pingo", :target => "_blank", :hreflang => "de" %>
    <% end -%>
		<%= content_tag :li  do -%>
		  <%= link_to icon_tag("film") + t("navigation.intro_video"), "#pingo_video", data: {toggle: "modal"} %>
		<% end -%>
		<% if user_signed_in? %>
			<%= content_tag :li  do -%>
			  <%= link_to icon_tag("road") + t("navigation.take_tour"), root_path(tour: "true") %>
			<% end -%>
	  	<% end %>
	  	<%= content_tag :li  do -%>
		  <%= link_to icon_tag("bullhorn") + "Blog", "http://blogs.uni-paderborn.de/pingo/", target: "_blank", hreflang: "de" %>
	  	<% end -%>
		<%= content_tag :li  do -%>
		  <%= link_to icon_tag("file") + t("navigation.getting_started"), "/tutorial/tutorial.html", target: "_blank", hreflang: "de" %>
		<% end -%>
	  	<% if I18n.locale == :de %>
			<%= content_tag :li  do -%>
			  <%= link_to icon_tag("file") + "Didaktische Hinweise", "https://wiwi.uni-paderborn.de/fileadmin/lehrstuehle/department-3/wiwi-dep-3-ls-4/PINGO_Didaktische_Handreichung_Einsatzmoeglichkeiten_final.pdf", target: "_blank", hreflang: "de", title: "Handreichung zu didaktischen Einsatzmoeglichkeiten" %>
			<% end -%>
	  	<% end %>
	  	<% if user_signed_in? %>
		  <%= content_tag :li  do -%>
		    <%= link_to icon_tag("bookmark") + t("navigation.invite"), invitation_path, rel: "nofollow" %>
		  <% end -%>
	  	<% end %>
	</ul>
</li>