<% unless ENV["USE_JUGGERNAUT"] == "false" %>
<%- content_for(:head) do -%>
<link rel="dns-prefetch" href="//<%= ENV["JUGGERNAUT_HOST"] %>">
<%- end -%>
<% end %>

<div class="row">
	<div class="col-md-12">
		<h1><%= t ".participate" %></h1>
	</div>
</div>
<% if user_signed_in? and I18n.locale == :de %>
<div class="row">
	<div class="col-md-7">
		<%= form_tag("/find")%>
			<div class="form-group">
				<label for="id"><%= t ".enter_access" %>:</label>
				<%= text_field_tag :id, "", :type => "tel", :class => "form-control input-lg" %>
			</div>
			<div class="form-group">
				<%= submit_tag t(".open_vote"), :disable_with => t("wait"), :class => "btn btn-lg btn-primary" %>
			</div>
		</form>
	</div>
	<div class="col-md-5">
		<%= render "blog_news", posts: @posts %>
	</div>
</div>
<% else %>
<div class="row">
	<div class="col-md-12">
		<%= form_tag("/find")%>
			<div class="form-group">
				<label for="id"><%= t ".enter_access" %>:</label>
				<%= text_field_tag :id, "", :type => "tel", :class => "form-control input-lg" %>
			</div>
			<%= submit_tag t(".open_vote"), disable_with: t("wait"), class: "btn btn-lg btn-primary", autocomplete: "off" %>
			</div>
		</form>
	</div>
</div>
<% end %>

<% if flash.empty? %>
<% content_for :javascript do %>
<script>
if (window.navigator.userAgent.indexOf('iPhone') != -1) {
	if (window.navigator.standalone == false) {
		var addToHomeConfig = {
			returningVisitor: true
		};
		// load dynamically only for iPhones to reduce requests
		loadjscssfile("/stylesheets/add2home.css", "css");
		loadjscssfile("/scripts/add2home.js", "js");
	}
}
</script>
<% end %>
<% end %>
<% if params[:tour] == "true" && user_signed_in? %>
<%= render "tours/enable_tour" %>
<%= render "tours/home/index" %>
<% end %>
