<div class="form-group">
  <label for="event_custom_locale">
    <span data-toggle="popover" data-placement="left" data-content="<%= strip_tags(t(".language_tooltip")) %>" title="<%= strip_tags(t(".language_headline")) %>"><%= icon_tag(:globe) %> <%= t ".language_headline" %></span>
  </label>
    <%= select_tag("event_custom_locale_select", options_for_select([[t(".de"), "de"], [t(".en"), "en"]], selected: @event.custom_locale), prompt: "-", class: "form-control") %>
</div>

<% content_for :javascript do %>
<script type="text/javascript" charset="utf-8">
$("#event_custom_locale_select").change(function() {
  $("#event_custom_locale").val($(this).val());
});
</script>
<% end %>
