<div class="modal fade" id="durationModal" tabindex="-1" role="dialog" aria-labelledby="durationModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="durationModalLabel"><%= t ".select_duration" %></h3>
  </div>
  <div class="modal-body">
	<%= form_tag "__ACTION__", method: :post, remote: true, id: "duration_modal_form" %>
	<%= hidden_field_tag "question", "", id: "duration_question" %>
	<p>
	   <label for="duration"><%= t "quick_start.how_long_short" %></label>
	      <%= select_tag "duration", options_for_select(duration_choices, quick_start_settings["duration"]), :class => "span3" %>
    </p>
	<p>
		<label for="remember" class="checkbox"><input class="checkbox inline" id="remember" name="remember_settings" value="1" type="checkbox"> 
        <%= t ".remember_settings" %></label>
		<%= submit_tag "start", :class => "btn btn-primary" %>
		</form>
	</p>
  </div>
  <div class="modal-footer">
	<span id="duration_description" class="pull-left">
		&nbsp;
	</span>
    <button class="btn" data-dismiss="modal" aria-hidden="true"><%= t "close" %></button>
  </div>
</div>
<% content_for :javascript do %>
	<script>
		$("#durationModal").modal({show: false});
		$("duration_modal_form").live("ajax:error", function(){
			alert("Leider ist ein Fehler aufgetreten. \n Unfortunately, an error occured.")
		});
	</script>
<% end %>
