<%= form_for @event, :class => "well form-horizontal" do |f| %>
<%= error_msg_for @event %>
<fieldset>
  <div class="form-group">
    <label for="event_name"><%= t "name" %></label>
    <%= f.text_field :name, class: "form-control", required: "required" %>
  </div>
  <div class="form-group">
    <label for="event_description"><%= t "description" %></label>
    <%= f.text_area :description, class: "form-control autogrow", rows: 3 %>
    <p class="help-block"><%= t("events.help.description_help") %>
  </div>
  <div class="checkbox">
    <label for="event_mathjax" data-content="<%= t("events.help.formula_support", default: "formula support") %>" data-toggle="popover" title="<%= t(".formula_support", default: "formula support") %>">
      <%= f.check_box :mathjax %>
      <%= t ".formula_support" %>
    </label>
  </div>
   <div class="form-group">
    <%= f.hidden_field :collaborators_form, class: "collaborators-form" %>
    <%= f.hidden_field :custom_locale %>
    <%= f.submit "OK", :class => "btn btn-primary", id: "new_event_submit" %>
  </div>
</fieldset>
<% end %>
