<div class="modal hide fade" id="qrModal" role="dialog" aria-hidden="true">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>QR Code #<%= event.token %></h3>
      </div>
        <div class="modal-body">
			<p style="text-align:center;"><%= image_tag "https://chart.googleapis.com/chart?cht=qr&choe=ISO-8859-1&chs=520x520&chl=#{participate_url(event.token)}", size: "200x200", alt: "QR Code", id: "eventQrImg" %><br>
			</p>
      </div>
      <div class="modal-footer">
		<span style="float:left;">
			<button class="btn" id="zoomQrLink"><%= icon_tag "zoom-in" %></button>
            <strong>pingo.upb.de &rarr; <%= event.token %></strong>
		</span>
		
		<button class="btn" data-dismiss="modal"><%= t("close") %></button>
      </div>
</div>

<% content_for :javascript do %>
	<script>
		$(document).ready(function(){
			$("#zoomQrLink").click(function(){
				$("#eventQrImg").attr("height", "520").attr("width", "520").css("margin-top", "-50px").css("margin-bottom", "-50px");
				$(this).remove();
			});
		});
	</script>
<% end %>