<h1><%= t ".headline" %></h1>
<div class="row">
  <div class="span6">
    <%= render 'form' %>
  </div>
  <div class="span6">
    <%= render "collaborators", item: @event %>
    <%= render "advanced_settings", event: @event %>
  </div>
</div>

<%= link_to t("back"), @event %>
