<div class="row">
  <div class="col-md-6">
    <h1><%= t ".headline" %></h1>

    <%= render 'form' %>

    <%= link_to t("back"), events_path %>
  </div>
</div>

<% if params[:tour] == "true" %>
 <%= render "tours/enable_tour" %>
 <%= render "tours/events/new" %>
<% end %>
