<%= form_for resource, as: resource_name, url: session_url(resource_name, protocol: ((Rails.env.production?||Rails.env.staging?) ? "https" : "http")), html: {class: 'new_session'} do |f| %>
          <fieldset>
                <div class="control-group">
                <%= f.email_field :email, :required => false, :autofocus => true, :placeholder => t("email") %></div>

                <div class="control-group">
                <%= f.password_field :password, :required => false, :placeholder => t("password") %></div>

                <% if devise_mapping.rememberable? -%>
                  <div class="control-group">
                    <label for="user_remember_me", class="checkbox">
                      <%= f.check_box :remember_me %>
                      <%= t "remember_me" %>
                    </label>
                  </div>
                <% end -%>
          </fieldset>
        <div><%= f.submit t("navigation.login"), :class => 'btn btn-primary' %></div>
  <% end %>