<%= semantic_form_for @survey.to_model, url: event_survey_path do |form| %>
<%= error_msg_for @survey %>

<%= form.input :name %>
<!-- <%= form.input :description, :input_html => { :class => 'autogrow', :rows => 10, :cols => 20  }%> -->

<% if @survey.has_options? %>
<div id="options">
	<h3><%= t("surveys.edit.options_for_survey") %></h3>
	<%= form.semantic_fields_for :options, :class => "form-inline" do |option| %>
		<%= render "option_fields", :f => option %>
	<% end %>
    <div class="form-group">
        <%= link_to_add_association icon_tag("plus")+t("surveys.edit.add_option"), form, :options %>
    </div>
</div>
<% end %>
<div class="form-group">
   <%= form.submit t("update"), :class => "btn btn-primary" %>
</div>
 <% end %>
<% content_for :javascript do %>
  <script>

    $(document).ready(function() {
        $(".radio_correct_true").live("change",function() {
          $(".radio_correct_true").prop('checked', false);
          $(".radio_correct_false").prop('checked', true);
          $(this).prop('checked',true);

      });
    });
  </script>
<% end %>
