<% # note that this view is rendered via JQuery in the show.js.erb 
%>

<script>
	show_view = true;
</script>
	<p class="lead"><% if survey.original_survey %><%= icon_tag("repeat", title:t(".repeated"), data: {toggle: "tooltip", placement: "right"}) %> <% end %>
		<span id="survey_name" data-placement="bottom" data-toggle="tooltip" data-delay="100" title="<%= t "survey" %> <%= t ".from" %> <%= l(survey.created_at) %>"><%= survey.name || t(".survey") %></span> 
		
      <%= link_to icon_tag("comment"), question_question_comments_path(survey.question, survey_id: survey.id), title: t("comment"), remote: true, class: "comment_modal_link", data: {toggle: "tooltip", placement: "bottom"} if survey.question.present? %>
    </p>

    
	<% unless survey.description.blank? %>
		<p><strong><%= t ".description"%>:</strong> <%= h survey.description %></p>
	<% end %>

	<% if survey.type == "multi" %>
		<p><%= t ".is_multi" %></p>
	<% end %>
	<% if survey.type == "text" %>
		<p><%= t ".is_text" %></p>
	<% end %>
	<% if survey.type == "match" %>
	    <p><%= t ".is_match" %></p>
	<% end %>
	<% if survey.type == "order" %>
	    <p><%= t ".is_order" %></p>
	<% end %>
	
	<% if survey.running?(true) %>
		<p id="running-notice">
		<small><%= t(".running_notice", :url => ENV["URL_PREFIX"]+"/"+survey.event.token.to_s).html_safe %><br/>
			<% if survey.ends %>
				 <%= t ".end" %>: <%= I18n.localize(survey.ends.in_time_zone) %>.
			<% end %>
		</small></p>
		<% if survey.ends %>
			<% if current_user.wants_sound %>
				<audio id="sound" preload="auto" style="display:none">
  					<source src="/bell_sound.mp3" type="audio/mpeg" />
  					<source src="/bell_sound.OGG" type="audio/ogg" />
				</audio>
			<% end %>
		<% end %>
	<% end %>

	<div class="survey-realtime">
		<span class="survey-realtime__item">
			<%= t ".votes_participants" %>:
			<span id="voter-count"><%= @survey.total_votes %></span>
		</span>
		<% if survey.running?(true) && survey.ends %>
		<span class="survey-realtime__item survey-realtime__item--countdown" id="countdown-container" style="display:none;">
			<%= t ".time_left" %>:
			<span id="countdown">
				XX:XX
			</span>
		</span>
		<% end %>
	</div>

<% if survey.has_options? and survey.options.count > 0 %>
	<section class="option-results">
		<p><strong><%= t ".options" %>:</strong></p>

		<ul id="survey-options-list" class="no-bullets">
			<%= render partial: "option", collection: survey.options %>
		</ul>

		<div class="chart-container hide-button">
			<h4 class="chart-container__heading text-center"><%= t("results") %> (%)</h4>

			<div class="canvas_downloadable clearfix">
				<canvas id="chart" height="300" class="chart-container__chart"></canvas>
				<a href="#chart" class="btn canvas_download-button" id="save_chart_btn" download="pingo_chart.png" target="_blank"><%= icon_tag("download-alt") %></a>

				<% if survey.options.any?(&:correct) %>
				<a class="btn pull-right canvas__show-highlight" id="show-highlights" data-toggle="button"><%= t("surveys.show.mark_corrects") %></a>
				<% end %>

    			<% if survey.original_survey %>
					<ul class="chart-container__legend legend">
						<li class="legend__item legend__item--first"><%= t("surveys.show.chart_first") %></li>
						<li class="legend__item legend__item--repeated"><%= t("surveys.show.chart_repeated") %></li>
					</ul>
				<% end %>
			</div>
		</div>	
	</section>


<% elsif survey.has_answer_pairs? %> 
    <section class="option-results">
		<div class="chart-container hide-button">
			<h4 class="chart-container__heading"><%= t("results") %></h4>
			<div class="canvas_downloadable clearfix">
				<%= render partial: "answer_pair_result_table", locals: {survey: survey} %>
				<a href="#chart" class="btn canvas_download-button" id="save_table_btn" download="pingo_table.html" target="_blank"><%= icon_tag("download-alt") %></a>
				<a class="btn pull-right canvas__show-highlight" id="showCorrectsBtn" data-toggle="button"><%= t("surveys.show.mark_corrects") %></a>
			</div>
		</div>
	</section> 

<% elsif survey.has_order_options? %> 
    <section class="option-results">
		<div class="chart-container hide-button">
			<h4 class="chart-container__heading"><%= t("absolute_results") %></h4>
			<div class="canvas_downloadable clearfix">
				<%= render partial: "order_option_result_table", locals: {survey: survey} %>
				<a href="#chart" class="btn canvas_download-button" id="save_table_btn" download="pingo_table.html" target="_blank"><%= icon_tag("download-alt") %></a>
				<a class="btn pull-right canvas__show-highlight" id="showCorrectsBtn" data-toggle="button"><%= t("surveys.show.mark_corrects") %></a>
			</div>
			<h4 class="chart-container__heading"><%= t("relative_results") %></h4>
			<!-- TODO: Folgende Tabelle durch relative ersetzen -->
			<div class="canvas_downloadable clearfix">
				<%= render partial: "order_option_result_table", locals: {survey: survey} %>
				<a href="#chart" class="btn canvas_download-button" id="save_table_btn" download="pingo_table.html" target="_blank"><%= icon_tag("download-alt") %></a>
				<a class="btn pull-right canvas__show-highlight" id="showCorrectsBtn" data-toggle="button"><%= t("surveys.show.mark_corrects") %></a>
			</div>
		</div>
	</section> 

<% elsif survey.type == "text" %>
	<% if !survey.running? && survey.total_votes > 0 %>
   		<div class="btn-group">
    		<button class="btn btn-small dropdown-toggle" data-toggle="dropdown"><%= t(".switch_view") %>
    			<span class="caret"></span>
    		</button>
        	<ul class="dropdown-menu close-on-click" role="menu">
        		<li><%= link_to t(".tag_cloud"), results_event_survey_path(@survey.event, @survey, view_type: "tag_cloud"), remote: true %></li>
          		<li><%= link_to t(".table"), results_event_survey_path(@survey.event, @survey, view_type: "text"), remote: true %></li>
        	</ul>
      	</div>
   		<div id="detailed_results" class="row">
  			<% if survey.total_votes > 6 %>
				<%= render "text_tag_cloud_result", survey: @survey %>
  			<% else %>
				<%= render "text_table_results", survey: @survey %>
  			<% end %>
   		</div>
	
 	<% else %>
		<div style="clear:left;"><%= image_tag "tag_cloud_placeholder.png" %></div>
 	<% end %>




<% elsif survey.type == "number" %>
    <% if !survey.running? && survey.total_votes > 0 %>
    	 
  		<p><%= t (".avg") %>: <%= badge(number_with_precision survey.voting_avg, precision: 2, strip_insignificant_zeros: true) %> </p>
  		<p> <%= t (".stdev") %>: <%= badge(number_with_precision survey.voting_stdev, precision: 2, strip_insignificant_zeros: true) %> </p>
  		<p> <%= t (".median") %>: <%= badge(number_with_precision survey.voting_median, precision: 2, strip_insignificant_zeros: true) %> </p>

        <div class="btn-group">
          <button class="btn btn-small dropdown-toggle" data-toggle="dropdown"><%= t(".switch_view") %> <span class="caret"></span></button>
          <ul class="dropdown-menu close-on-click">
            <li><%= link_to t(".chart"), results_event_survey_path(@survey.event, @survey, view_type: "clustered_chart", method_kind: "clustered"), remote: true %></li>
            <li><%= link_to t(".histogram"), results_event_survey_path(@survey.event, @survey, view_type: "clustered_chart", method_kind: "histogram"), remote: true %></li>
            <li><%= link_to t(".table"), results_event_survey_path(@survey.event, @survey, view_type: "text"), remote: true %></li>
          </ul>
        </div>
        <div id="detailed_results" class="row">
          <% if survey.total_votes > 6 %>
              <%= render "number_clustered_chart_results", survey: @survey %>
          <% else %>
              <%= render "text_table_results", survey: @survey %>
          <% end %>
        </div>

    <% else %>

    <% end %>

	
<% end %>

<div id="actions" class="well survey-actions">
	<% if survey.running?(true) %>
		<%= form_tag(stop_event_survey_path(survey.event, survey), remote: true, class: "form-inline survey-actions__form") %>
			 <label for="stoptime"><%= submit_tag t(".stop1"), :disable_with => t("wait"), :class => "btn btn-danger" %></label>
			<%= select_tag "stoptime", options_for_select(duration_choices(true), 1) %>
		</form>
	<% else %>
		
		<% if survey.event.latest_survey == survey.to_model %>

		 <%= form_tag(start_event_survey_path(survey.event, survey), remote: true, class: "form-inline survey-actions__form") %>
			<%= submit_tag t(".continue1"), :disable_with => t("wait"), :class => "btn btn-success" %>
			<%= hidden_field_tag "stoptime", "120", :id => "hidden_stoptime" %>
	 	 </form>

		<% end %>
		
		<%= form_tag(repeat_event_survey_path(survey.event, survey), remote: true, class: "form-inline survey-actions__form") %>
			<%= submit_tag t(".repeat1"), :disable_with => t("wait"), :class => "btn btn-success repeat-survey-button" %>
			<%= select_tag "duration", options_for_select(duration_choices(false), 120), id: "repeatDuration" %>
		</form>
		
		<script>
			$(document).ready(function() {
		  		$(document).on("change", "#repeatDuration", function() {
		  			$("#hidden_stoptime").val($('#repeatDuration option:selected').val());
		  		}); 
		  		$(document).on("click", "#save_chart_btn", function(e) {
		  			if($("#chart").length > 0){
		  				var base_str = $("#chart").get(0).toDataURL();
		  				$(this).attr("href", base_str);
		  				return true;
		  			}
		  		});
		  	
				$(document).on("click", "#save_table_btn", function(e) {
					if($("#result-table").length > 0) {
						var base_str = 'data:text/html,' + '<meta http-equiv="Content-Type" content="text/html; charset=utf-8">'
						+ '<p><b><%= survey.name || t(".survey") %></b></p><br />'
						+ '<div class="canvas_downloadable clearfix">' +
						'<table id="result-table" height="300" class="table table-bordered">' +
						$("#result-table").html() + '</table></div>';
						$(this).attr("href", base_str);
		  				return true;
					}
				});

				if(window.PINGO.isMSIE()){
			  		$(".canvas_downloadable").removeClass("canvas_downloadable");
			  	}
			  	$("#showCorrectsBtn").click(function() {
			  		$(".toCorrectSwitchable").toggleClass("greenBorder");
			  	});
		  	});
		</script>
	<% end %>
</div>
