<% if defined?(survey) && survey.respond_to?(:max_answers) %>
    <% survey.max_answers.times do |i| %>
        <% is_first = (i==0) %>
        <div <%= unless is_first then 'style="display: none"'.html_safe end %> class="text-input-field-container row-margin <%= if is_first then 'form-group' else 'input-group' end %>" data-count="<%= i.to_s %>">
            <%= text_field_tag "option[]", "", required: is_first, class: "form-control text-input-field", style: "margin-left: 0 !important;" %>
            <% if survey.multi? %>
                <% unless is_first %>
                     <span class="input-group-btn">
                        <button type="button" class="btn btn-danger text-input-remove-button" data-count="<%= i.to_s %>"><%= icon_tag :minus %></button>
                     </span>
                <% end %>
            <% end %>
        </div>
    <% end %>
    <% if survey.multi? %>
        <p><button type="button" class="btn btn-success text-input-add-button"><%= icon_tag :plus%> <%= t ".add_a_field" %></button></p>
        <p class="text-muted">
            <%= t ".add_field_notice" %>
        </p>

        <% content_for :javascript do %>
            <script>
                 $(document).ready(function (){
                     $(".text-input-add-button").show().click(function(e){
                         $(".text-input-field-container:hidden").first().show();
                         if($(".text-input-field-container:hidden").length == 0){
                             $(".text-input-add-button").hide();
                         }
                     });
                     $(".text-input-remove-button").show().click(function(e){
                        $(".text-input-field-container[data-count='" + $(this).data("count") + "']").hide().find("input").val("");
                        if($(".text-input-field-container:hidden").length > 0){
                             $(".text-input-add-button").show();
                         }
                     });
                 });
            </script>
        <% end %>
    <% end %>
<% else %>
    <label for="option" class="well">
        <%= text_field_tag "option", "", required: true, class: "span3" %>
    </label>
<% end %>
