<div data-role="header">
<h1><%= t("surveys.edit.edit_survey") %>: <%= @survey.name %></h1>
</div>
<%= link_to t('back'), event_survey_path %>
<%= render "form" %>
</br>
<%= link_to t('back'), event_survey_path %>


