<div data-role="header">
<h1><%= t("surveys.edit.edit_survey") %>: <%= @survey.name %></h1>
</div>
<p><%= link_to t('back'), event_survey_path %></p>
<%= render "form" %>
<p><%= link_to t('back'), event_survey_path %></p>


