<!DOCTYPE html>
<html lang="<%= I18n.locale  %>">

<head>
    <title><%= content_for?(:title) ? content_for(:title) + " — " : "" %>PINGO</title>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "lecturer" %>
<style>
	#actions {display: none;}
	body {padding-top: 2px; padding-left: 2px;}
</style>
<% unless ENV["USE_JUGGERNAUT"] == "false" %>
	<script type="text/javascript" charset="utf-8" src="/juggernaut_application_fallback.js"></script>
<% end %>
<%= javascript_include_tag "application" %>

<body>
<% if @survey.running?(true)  %>
	<%= render partial: "survey_running", locals: {survey: @survey} %>
<% else %>
	<%= render partial: "show", locals: {survey: @survey} %>
<% end %>
</body>

<script>
setVoterCount(<%= @survey.total_votes %>, "<%= @survey.id.to_s %>");

<% if @survey.running?(true) && @survey.ends %>

	startCountdown(<%= @survey.time_left(true)-1000 %>);

	<%= render partial: "show_push", formats: [:js] %>

<% end %>

</script>

<%= javascript_include_tag "lecturer" %>



</html>
