<p> 
	Sehr geehrte PINGO-Nutzerin, sehr geehrter
	PINGO-Nutzer,<br>
	mit dieser E-Mail m&ouml;chten wir Sie &uuml;ber die Neuerungen am PINGO-System informieren.</p>
	<p>Doch vorerst ein herzliches <strong>Dankesch&ouml;n</strong> f&uuml;r die Nutzung unseres Systems. Sie erm&ouml;glichen es uns PINGO zu verbessern und weiterzuentwickeln.</p>
	<p>Heute haben wir eine <strong>neue Version von PINGO</strong> mit vielen Neuerungen online gestellt.</p>
	<p>Die wichtigsten neuen <strong>Features</strong> sind:<br>
	<ul><li><strong>Fragenkataloge</strong></li>
	<ul>
		<li>Sammlung von eigenen Fragen mit Antwortm&ouml;glichkeiten im Katalog</li>
		<li>Fragen k&ouml;nnen beliebig verschlagwortet (getaggt) werden</li>
		<li>Fragen k&ouml;nnen &ouml;ffentlich eingestellt werden, sodass diese auch anderen Nutzern zur Verf&uuml;gung stehen</li>
		<li>Fragen k&ouml;nnen dann in Sessions hinzugef&uuml;gt und somit als Umfrage gefragt werden</li>
	</ul>
	
	<li><strong>TeX-Formeln</strong> k&ouml;nnen nun in PINGO-Fragen und -Antworten einf&uuml;gt werden</li>
	<ul><li>Die Formel muss einfach mit $ umschlossen werden</li></ul>
	<li>interaktive Tour durch PINGO</li>
	<ul><li>Sie k&ouml;nnen &uuml;ber "INFO &rArr; <%= link_to "Tour starten", "https://pingo.upb.de/?tour=true" %> nun eine interaktive Tour durch alle (oder nur die neuen) PINGO-Funktionen starten</li></ul>
</ul>
</p>
<p>
	<table align="center" width="200" height="60" style="border: 1px solid cornsilk3; background-color: #00205B;text-align:center;">
		<tr><td>
			<a href="https://pingo.upb.de/questions/?tour=true" style="color: white;">Direkt den Fragenkatalog ausprobieren</a>
		</td></tr>
	</table>
</p>
<p>
	<table align="center" width="200" height="60" style="border: 1px solid cornsilk3; background-color: #00205B;text-align:center;">
		<tr><td>
			<a href="https://pingo.upb.de/users/sign_in?tour=true" style="color: white;">Jetzt die PINGO-Tour starten</a>
		</td></tr>
	</table>
</p>
<p>
	Im <strong>Handbuch</strong> finden Sie genauere Hinweise zur Nutzung:
</p>
<p>
	<table align="center" width="200" height="60" style="border: 1px solid cornsilk3; background-color: #00205B;text-align:center;">
		<tr><td>
			<a href="http://pingo.upb.de/tutorial/tutorial.html" style="color: white;">PINGO-Handbuch lesen</a>
		</td></tr>
	</table>
</p>
<p>
	
	In unserem <strong>Blog</strong> unter <a href="http://blogs.uni-paderborn.de/pingo">blogs.upb.de/pingo</a> finden Sie noch <a href="http://blogs.uni-paderborn.de/pingo/release-notes-2-0/">mehr Infos zu den Neuerungen</a>, auch aus technischer Sicht. Im Blog finden Sie auch weitere News, f&uuml;r die wir keinen Newsletter versenden &mdash; am besten direkt in den Lesezeichen/Favoriten sichern!
</p>
<p>
	<table align="center" width="200" height="60" style="border: 1px solid cornsilk3; background-color: #00205B;text-align:center;">
		<tr><td>
			<a href="http://blogs.uni-paderborn.de/pingo" style="color: white;">PINGO-Blog besuchen</a>
		</td></tr>
	</table>
</p>
<p>
	M&ouml;chten Sie <strong>in Zukunft weitere Newsletter von uns erhalten</strong>? Dann k&ouml;nnen Sie den Empfang in den Kontoeinstellungen unter <%= link_to "https://pingo.upb.de/users/edit", "https://pingo.upb.de/users/edit" %> aktivieren.<br>
	<small>(Aus rechtlichen Gr&uuml;nden m&uuml;ssen Sie das Newsletterabo ausdr&uuml;cklich und selbst aktivieren.)</small>
</p>
<p>	Viele Entwicklungen der letzten Zeit sind auf Basis von <strong>Feedback</strong> entstanden. Sie k&ouml;nnen uns unter <%= mail_to "pingo-support@uni-paderborn.de", "pingo-support@uni-paderborn.de" %> jederzeit erreichen, wir freuen uns von Ihnen zu h&ouml;ren!</p>
<p>
	Liebe Gr&uuml;&szlig;e<br>
	Ihr PINGO-Projektteam
</p>
	
<p>	
	<hr noshade="noshade"/>
	<small>Sie erhalten diese Info-Mail einmalig, da Sie registrierter Benutzer von PINGO (<a href="http://pingo.upb.de" target="_blank">pingo.upb.de</a>) sind. Sie sind nicht automatisch f&uuml;r ein Abonnement angemeldet. In Zukunft k&ouml;nnen Sie den Newsletterempfang einfach &uuml;ber Ihre <%= link_to "Kontoeinstellungen", "https://pingo.upb.de/users/edit" %> regeln.</small>
	
</p>
<p><hr noshade="noshade"/>
	<br><center><small>
	<i><strong>English version:</strong></i></small></center></p>
	
	<p> 
		Dear Pingo user,<br>
		with this newsletter, we would like to inform you about the new features of PINGO.</p>
		<p>But first of all we want to <strong>thank you</strong> for using our system. This enables us to constantly improve and develop PINGO further.</p>
		<p>Today, we released a <strong>new version of PINGO</strong> with several new features:</p>
		<ul><li><strong>List of questions</strong></li>
		<ul>
			<li>Predefine and manage own questions with answer options</li>
			<li>Tag questions to have a fast access to them</li>
			<li> Make questions public to give other lecturers the opportunity to use them</li>
			<li>Predefined questions can be added to a session to ask the audience</li>
		</ul>

		<li><strong>TeX formulas</strong> are now supported in question titles and answer options</li>
		<ul><li>Formulas must be enclosed by $</li></ul>
		<li>interactive PINGO tour</li>
		<ul><li>Via "INFO &rArr; <%= link_to "Start tour", "https://pingo.upb.de/?tour=true" %> you can start an interactive tour to explore the new features.</li></ul>
	</ul>
	</p>
	<p>
		<table align="center" width="200" height="60" style="border: 1px solid cornsilk3; background-color: #00205B;text-align:center;">
			<tr><td>
				<a href="https://pingo.upb.de/questions/?tour=true" style="color: white;">Try out the list of questions</a>
			</td></tr>
		</table>
	</p>
	<p>
		<table align="center" width="200" height="60" style="border: 1px solid cornsilk3; background-color: #00205B;text-align:center;">
			<tr><td>
				<a href="https://pingo.upb.de/users/sign_in?tour=true" style="color: white;">Take the PINGO tour</a>
			</td></tr>
		</table>
	</p>
	<p>
		Would you like to <strong>receive further newsletters from us</strong> in the future? Then just activate the subscription in your personal settings at <%= link_to "https://pingo.upb.de/users/edit", "https://pingo.upb.de/users/edit" %>.<br>
		<small>(On legal grounds, you have to activate the subscription manually.)</small>
	</p>
	<p>	A lot of the recent features are the results of your <strong>feedback</strong>. You can always contact us at <%= mail_to "pingo-support@uni-paderborn.de", "pingo-support@uni-paderborn.de" %>. We look forward to hearing from you.</p>
	<p>
		Kind regards<br>
		the PINGO project team
	</p>


	<p>	
		<hr noshade="noshade"/>
		<small>You are not subscribed to a newsletter. You can always check your subscription preferences in your <%= link_to "account settings", "https://pingo.upb.de/users/edit" %>.
		</small>

	</p>
	<p><hr noshade="noshade"/>
		<small><u>Imprint/Impressum:</u><br>
		<a href="http://www.upb.de/pingo">PINGO &mdash; Peer Instruction for very large Groups</a> (Fak. Wiwi)<br>
		Universit&auml;t Paderborn, Warburger Str. 100, 33098 Paderborn, Germany.</small>
	</p>
